<%= simple_form_for [audio_file, comment], remote: true do |f| %>
  <div class="comment-flexbox-class">
    <%= f.input :content, placeholder: "Write a comment", label: false,:input_html => {class: "test-width", :style => 'width: 100%', :rows => 1} %>
    <%= f.hidden_field :audio_file_id, value: audio_file.id%>
    <%= f.hidden_field :user_id, value: current_user.id%>
    <%= f.hidden_field :id, value: params[:id] %>
    <%= f.submit "Send", class: "btn btn-success send-comment" %>
  </div>
<% end %>
