<div class="wrapper">
  <div class="container">
    <div>
      <h3> Projects you own </h3>
      <% if @my_projects_as_owner.empty? %>
        <h3> You don't own any project yet!</h3>
      <% else %>
        <% @my_projects_as_owner.each do |project| %>
          <div class="project-box">
            <%= link_to '', project_path(project.id), class: "project-link"%>
            <p><strong><%= project.name %></strong></p>
            <p> Due for <%= project.deadline %></p>
            <p><%= User.find(project.user_id).first_name %></p>
            <p><%= User.find(project.user_id).last_name %></p>
            <% project.tracks.each do |track| %>
              <%= track.name %>
              <% track.sessions.each do |session| %>
                <%= cl_image_tag session.talent.user.avatar, height: 50, width: 50, class: "avatar"%>
              <% end %><br>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div>
      <h3> Projects you're participating to </h3>
      <% if @my_projects_as_talent == [] %>
        <h3> You're not participating to any project yet!</h3>
      <% else %>
        <% @my_projects_as_talent.each do |project| %>
          <p><%= project.name %></p>
          <p><%= User.find(project.user_id).first_name %></p>
          <p><%= User.find(project.user_id).last_name %></p>
          <% @my_tracks.each do |track| %>
            <% if project.tracks.include?(track) %>
              <%= track.name %>
              <% track.sessions.each do |session| %>
                <%= cl_image_tag session.talent.user.avatar, height: 50, width: 50, class: "avatar"%>
              <% end %><br>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

