<div class="container">
  <div class="projects-list">

    <h1 class="project-head">My Projects</h1>

    <div class="row">
      <% @projects.each do |project| %>
        <div class="col-xs-12 col-sm-6 col-md-4 wave-wrapper">
          <div class="project-card text-center existing-project">
            <div class="project-details">
              <h2 class="project-name"><%= project.name.upcase %></h2>
              <p class="project-deadline">Due on <%= project.deadline.strftime("%d/%m/%Y") %></p>
            </div>
            <div class="wave-img" style="background-image: url(<%= image_path 'Abstract-Wave-PNG-Transparent.png'%>);"></div>
            <%= link_to '', project_path(project.id), class: "project-link" %>
          </div>
          <!-- close existing project card -->
        </div>
        <!-- close col existing project -->
      <% end %>
      <!-- close projects iteration -->

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="project-card text-center create-project">

            <i class="fas fa-plus"></i>
            <%= link_to '', "#", data:{toggle:"modal", target: "#addProject"}, id:"new-project" %>
            <!-- addProject modal -->
            <div class="modal fade" id="addProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header text-center">
                    <h4 class="modal-title" id="myModalLabel">Create a new project</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body text-center">
                    <%= simple_form_for @project do |f| %>
                    <%= f.input :name, label: "Project Name", required: true %>
                    <%= f.input :deadline, label: "Deadline", required: false, as: :string, input_html: { class: "datepicker"} %>
                    <%= f.submit "Add project", class: "btn our-cta-btn" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <!-- addProject modal -->

        </div>
        <!-- close create-project card -->
      </div>
      <!-- close bootstrap col -->
    </div>
    <!-- close bootstrap row -->
  </div>
  <!-- close projects-list -->
</div>
<!-- close bootstrap container -->

