<div class="container">

  <div class="project-header">
    <div class= "project-name-div">
      <% if @project.deadline %>
        <h6><i class="far fa-calendar"></i><%= @project.deadline.strftime("  Due on %d/%m/%Y") %></h6>
      <% end %>
    </div>
    <h1>Project : <%= @project.name %></h1>
    <div class="project-owner-div">
      <h2> Owner :</h2>
      <div>
        <%= link_to profile_path(@owner) do %>
          <% if @owner.avatar.nil? %>
          <%= image_tag "noprofilepicture.png", height: 104, width: 104, crop: :fill, class: "avatar" %>
          <% else  %>
          <%= cl_image_tag @owner.avatar, height: 104, width: 104, crop: :fill, class: "avatar" %>
          <% end  %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="project-tracks">
    <h1> Tracks </h1>

    <div class="track-index">
      <% @project.tracks.each do |track| %>
        <div>
          <% if track.project.project_owner == current_user || track.talents.user.include?(current_user) %>
            <div>
              <%= link_to project_track_path(@project, track) do %>
                <div class="track-card">

                  <div class="track-infos">
                    <h3><%= track.name %></h3>
                    <p><%= track.created_at.strftime("Started on %d/%m/%Y") %></p>
                  </div>

                  <div class="collaborators">
                    <% track.talents.each do |talent| %>
                      <%= link_to profile_path(talent) do %>
                        <% if @owner.avatar.nil? %>
                         <%= image_tag "noprofilepicture.png", height: 70, width: 70, crop: :fill, class: "avatar" %>
                        <% else  %>
                          <%= cl_image_tag talent.user.avatar, height: 70, width: 70, crop: :fill, class: "avatar" %>
                        <% end  %>
                      <% end %>
                    <% end %>
                  </div>

                </div>
              <% end %>
            </div>

          <% end %>
        </div>

      <% end %>
    </div>
  </div>

</div>
