<div class="container">

  <div class="project-header">
    <div class= "project-name-div">
      <h2>Project : <strong> <%= @project.name %></h2> </strong>
      <% if @project.deadline %>
        <p><%= @project.deadline.strftime("Due on %d/%m/%Y") %></p>
      <% end %>
    </div>
    <div class="project-owner-div">
      <h2> Owner :</h2>
      <div>
        <%= link_to profile_path(@owner) do %>
          <% if @owner.avatar.nil? %>
          <%= image_tag "noprofilepicture.png", height: 104, width: 104, crop: :fill, class: "avatar" %>
          <% else  %>
          <%= cl_image_tag @owner.avatar, height: 104, width: 104, crop: :fill, class: "avatar" %>
          <% end  %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="project-tracks">
    <h1> Tracks </h1>

    <div class="track-index">
      <% @project.tracks.each do |track| %>

        <div class="track-card">
          <div class="track-infos">
            <h3><%= track.name %></h3>
            <p><%= track.created_at.strftime("Started on %d/%m/%Y") %></p>
          </div>

          <div class="collaborators">
            <% track.talents.each do |talent| %>
              <%= link_to profile_path(@owner) do %>
                <% if @owner.avatar.nil? %>
                <%= image_tag "noprofilepicture.png", height: 70, width: 70, crop: :fill, class: "avatar" %>
                <% else  %>
                <%= cl_image_tag talent.user.avatar, height: 70, width: 70, crop: :fill, class: "avatar" %>
                <% end  %>
              <% end %>
            <% end %>
          </div>

        </div>
      <% end %>
    </div>
  </div>

</div>
